.partner {
	width: 100%;
	background-color: #1879b9;
	/*height: 800px;*/
	padding-top: 150px; 
}

.partner h1 {
	font-size: 28px;
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;
	color: white; 
}

.row {
	align-items: center;
}

[class*="col-"] {
	text-align: center;
	align-items: center;
}




.partner .container .social {
	display: flex;
	align-content: center;
	align-items: center;
	text-align: center;
	/*width: 337px; */
	/*left: 400px; */
	position: relative; 
	top: 180px; height: 53px;
}

.partner .container .social ul {
	width: 250px;
}

.partner .container .social ul li {
	/*margin-bottom: 0px; margin-right: 34px; */
	width: 53px; height: 53px; 
	object-fit: cover; 
	display: inline-block;
}

.partner .container .social ul li a img {
	/*margin-bottom: 0px; */
	margin-right: 34px; 
	width: 53px; height: 53px; 
	object-fit: cover; 
	display: inline-block;
}

.row1 {
	/*margin-top: 50px;*/
}
