<div class="partner">
    <div class="container">
      <h1>Our Proud Partners</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="image1">
            <img style="width: 216px; height: 63px;" src="../../assets/img/university of pittsburgh.png">
          </div>
        </div>
        <div class="col-md-4">
          <div class="image2">
            <img style="left: 407px;  top: 199px; width: 130px; height: 54px;" src="../../assets/img/ibm.png">
          </div>
        </div>
        <div class="col-md-4">
          <div class="image3">
            <img style="left: 667px;  top: 126px; width: 209px; height: 209px;" src="../../assets/img/comcast.png">
          </div>
        </div>
      </div>
      <h1>As Featured in</h1>
      <div class="row1">
        <div class="row">
          <div class="col-lg-3">
            <div class="image1">
              <img style="position: absolute; left: 80px; top: 24px; width: 236px; height: 45px;" src="../../assets/img/dhjladelphia.png">
            </div>
          </div>
          <div class="col-lg-2">
            <div class="image2">
              <img style="position: absolute; left: 50px; top:6px; width: 130px; height: 80px;" src="../../assets/img/blavity.png">
            </div>
          </div>
          <div class="col-lg-2">
            <div class="image3">
              <img style="position: absolute; left: 20px; top: 0px; width: 171px; height: 70px;" src="../../assets/img/technically.png">
            </div>
          </div>
          <div class="col-lg-2">
            <div class="image4">
              <img style="position: absolute; left: 50px; top: 13px; width: 146px; height: 55px;" src="../../assets/img/philadelphia.webp">
            </div>
          </div>
          <div class="col-lg-2">
            <div class="image5">
              <img style="position: absolute; left: 50px; top: 29px; width: 107px; height: 27px;" src="../../assets/img/forbes.png">
            </div>
          </div>
        </div>
      </div>
      <div class="social">
        <ul>
          <li>
            <a href="https://twitter.com/_raisethebarr_"><img src="../../assets/img/twitter.png"></a>
          </li>
          <li>	
            <a href="https://www.instagram.com/_raisethebarr_/"><img src="../../assets/img/instagrm.png"></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/11154328/"><img src="../../assets/img/linkedin.png"></a>
          </li>	
        </ul>
      </div>
    </div>
  </div>