.company {
	background-color: #4fc3f7;
	height: 800px;
	width: 100%;
	padding-top: 100px;
}

h1 {
	font-size: 28px;
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;
	color: white;
}

h2 {
	font-size: 20px;
	font-family: "Arial Black", Gadget, sans-serif;
	color: white;
}


p {
	padding: 20px 40px 40px 40px;
	font-size: 20px;
	color: white;
}


.col-lg-4 {
	text-align: center;
}

.images {
	width: 100px;
	height: 100px;
}

.image-row {
	margin-top: 100px;
}

.text-row {
	margin-top: 100px;
}