
<div class="screen">
    <div class="container up">
  
      <h1>Enterprise Training Utilizing an Artifical Intelligence Powered Chatbot</h1>
  
      <br>
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <p class="lead">The most interactive and engaging diversity and inclusion training  that develops company employees to learn about diversity and inclusion through a more interactive experience.</p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
      </div>

      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <img src="../../assets/img/screen.png" class="images">    
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
      </div>


  
      <div class="button-row">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <button type="button" class="btn btn-secondary btn-sl" (click)="hideDemo = !hideDemo; hideChat = true; hideBeta = true">Request a Demo</button>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <button type="button" class="btn btn-secondary btn-sl" (click)="hideChat = !hideChat; hideDemo = true; hideBeta = true">Test our Chatbot</button>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <button type="button" class="btn btn-secondary btn-sl" (click)="hideBeta = !hideBeta; hideDemo = true; hideChat = true">Join our Beta</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container down" [hidden]="hideDemo && hideChat && hideBeta">
      <div class="form-row">
        <div class="row">
          <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3"></div>
          <div class="col-xs-8 col-sm-8 col-md-6 col-lg-6">
              <div class="hidearea">
                  <home-request [hidden]="hideDemo"></home-request>
                  <home-chatbox [hidden]="hideChat"></home-chatbox>
                  <home-beta [hidden]="hideBeta"></home-beta> 
              </div>             
          </div>
          <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3"></div>
        </div>
      </div>
    </div>
</div>
