

.down{
	height: 500px;
}

h1 {
	margin-top: 40px;
	font-size: 28px;
	text-align: center;
	font-family: "Tahoma";
	font-weight: bold;
}

img {
	width: 100%;
	height: auto;
}

p {
	text-align: center;
	padding:10px;
	font-size: 20px;
	font-family: Avenir Light;
}


.btn-sl {
    display: block;
    margin: 0 auto 0 auto;
    height: 5%;
    width: 15%;
	font-size: 20px;
	font-family: Avenir Light;
}

.button-row {
	margin-top: 5%;
	margin-bottom: 5%;
}



[hidden] {
  display: none !important;
}